In [8]:
SELECT *,
    IIF(MONTH(METTOL)>5 AND MONTH(METTOL)<9, 'igen', 'nem')
FROM Foglalas
WHERE UGYFEL_FK='laszlo2' AND GYERMEK_SZAM<1

FOGLALAS_PK,UGYFEL_FK,SZOBA_FK,METTOL,MEDDIG,FELNOTT_SZAM,GYERMEK_SZAM,(No column name)
561,laszlo2,42,2016-04-06,2016-04-10,2,0,nem

In [9]:
 SELECT szh.TIPUS, YEAR(f.METTOL) AS 'Év', MONTH(f.METTOL) AS 'Hónap', COUNT(*)
 

 FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID 

                              JOIN Szallashely szh ON sz.SZALLAS_FK=szh.SZALLAS_ID

WHERE DATEDIFF(day, f.METTOL, f.MEDDIG,)>=5 

 GROUP BY szh.TIPUS, YEAR(METTOL), MONTH(MEDDIG)

: Msg 102, Level 15, State 1, Line 8
Incorrect syntax near ')'.